@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
.container {
  width: 1400px;
  margin: 0 auto;
  padding: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1400px;
  background-color: #000000;
  padding-bottom: 15px;
  padding-top: 15px;
  font-family: "Orbitron";
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

.header__logo {
  width: 200px;
  height: 60px;
  margin-left: -80px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -250px;
  margin-top: 17px;
}

.header__link {
  color: #fff;
  font-size: 17px;
  margin-right: 30px;
}

.header__btn {
  background-color: #fff;
  color: #000000;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 1px;
}

.flex-4 {
  margin-top: 20px;
}

.header__btn:hover {
  background-color: transparent;
  color: #fff;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.header__link:last-child {
  margin-left: 0px;
}

.header__icon {
  color: #fff;
  margin-top: 30px;
  cursor: pointer;
  display: none;
  z-index: 2;
}

.main__title {
  font-family: 'Indie Flower';
  color: #f3f3f3;
  font-size: 40px;
  margin-left: 50px;
  margin-top: -15px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  font-family: "Orbitron";
  font-weight: 400;
}

.ochilish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.modal-wrapper {
  background-color: #000;
  width: 830px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 20px 6px #fff;
          box-shadow: 0px 0px 20px 6px #fff;
  margin-left: -570px;
}

.modal__x {
  background-color: transparent;
  position: absolute;
  color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 26px;
  left: 0;
  cursor: pointer;
}

.modal__item {
  margin-top: 15px;
  text-align: center;
}

.modal__link {
  color: #fff;
  font-size: 25px;
}

.modal__list {
  margin-left: -50px;
}

.modal__btn {
  background-color: #fff;
  color: #000000;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 17px;
  padding-bottom: 25px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 1.2px;
  margin-top: 190px;
  margin-left: -122px;
}

.modal__btn:hover {
  background-color: transparent;
  color: #fff;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.main {
  background-color: #111010;
  padding-top: 30px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__img {
  margin-left: 120px;
}

.main__text {
  position: absolute;
  font-family: 'Nanum Pen Script';
  color: #f3f3f3;
  margin-left: 577px;
  margin-top: 100px;
  font-size: 22px;
}

.footer {
  width: 1400px;
  background-color: #000000;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  width: 200px;
  height: 60px;
  padding-left: 115px;
  padding-top: 30px;
}

.footer__text {
  color: #fff;
  margin-top: 5px;
  margin-left: 120px;
  font-family: 'Nanum Pen Script';
  font-size: 21px;
}

.footer__link {
  color: #1086C2;
  font-size: 33px;
  margin-left: 200px;
}

.footer__icon {
  margin-top: 12px;
}

.footer__icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .8s ease all;
  transition: .8s ease all;
}

.footer__title {
  margin-left: 170px;
  font-size: 22px;
  color: #f3f3f3;
}

.footer__heading {
  font-family: 'Indie Flower';
  color: #ccc;
  font-size: 35px;
}

.footer__link2 {
  color: #fff;
  font-size: 26px;
  font-family: 'Nanum Pen Script';
  margin-left: 8px;
}

.footer__list {
  margin-left: 160px;
  margin-top: 38px;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .flex-2 {
    display: none;
  }
  .flex-3 {
    display: none;
  }
  .flex-4 {
    display: none;
  }
  .header__icon {
    position: absolute;
    display: block;
    margin-left: 555px;
  }
  .header {
    width: 830px;
  }
  .main {
    width: 750px;
    padding-left: 80px;
  }
  .main__title {
    position: absolute;
    padding-left: 60px;
    text-align: center;
  }
  .main__text {
    left: -400px;
    text-align: center;
  }
  .footer {
    width: 830px;
    display: block;
    height: 550px;
  }
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -80px;
  }
  .footer__flex-1 {
    margin-left: 160px;
  }
}

@media screen and (max-width: 450px) {
  .main__text {
    display: none;
  }
  .main {
    width: 700px;
    padding-bottom: 100px;
  }
  .header {
    width: 780px;
  }
  .footer {
    width: 780px;
  }
  .main__title {
    padding-left: 200px;
  }
  .modal-wrapper {
    width: 780px;
    margin-left: -620px;
  }
}
/*# sourceMappingURL=media.css.map */